.sirius-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 179px;
  cursor: pointer;
}

.sirius-btn:hover svg {
  transform: rotate(120deg);
}

.sirius-btn:hover .sirius-btn__inner svg {
  transform: translate(-50%, -50%) rotate(-180deg);
}

.sirius-btn:hover .sirius-btn__inner svg path {
  fill: #6ACC74;
}

.sirius-btn:hover .sirius-btn__text {
  color: #6ACC74;
}

.sirius-btn svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transition: transform 1s linear;
}

.sirius-btn__inner {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sirius-btn__inner svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 139px;
  height: 138px;

  transition: transform 1s linear;
}

.sirius-btn__inner svg path {
  transition: 0.8s linear;
}

.sirius-btn__text {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: #E09E9A;
  text-align: center;

  transition: color 0.8s linear;
}







.sirius-prealoader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: 1px solid #88C5E9;
  border-radius: 100%;

  cursor: pointer;
}

.sirius-prealoader:hover .sirius-prealoader__wrap-1>svg,
.sirius-prealoader:hover .sirius-prealoader__wrap-2>svg,
.sirius-prealoader:hover .sirius-prealoader__wrap-2>svg circle:nth-child(2),
.sirius-prealoader:hover .sirius-prealoader__wrap-3 svg,
.sirius-prealoader:hover .sirius-prealoader__center-svg-1,
.sirius-prealoader:hover .sirius-prealoader__center-svg-2 {
  animation-play-state: paused;
}

.sirius-prealoader:hover .sirius-prealoader__center-svg-1 {
  animation-duration: auto;
  opacity: 1;
}

.sirius-prealoader:hover .sirius-prealoader__wrap-1>svg circle {
  stroke: #6ACC74;
}

.sirius-prealoader:hover .sirius-prealoader__wrap-2>svg {}

.sirius-prealoader:hover .sirius-prealoader__wrap-2>svg circle:nth-child(2) {}

.sirius-prealoader:hover .sirius-prealoader__wrap-3 svg circle {
  stroke: #6ACC74;
}

.sirius-prealoader:hover .sirius-prealoader__center-svg-1 path {
  fill: #6ACC74;
}

.sirius-prealoader:hover .sirius-prealoader__center-svg-1 circle {
  stroke: #6ACC74;
}

.sirius-prealoader:hover .sirius-prealoader__center-svg-2 {
  opacity: 0;
  width: 0;
  height: 0;
}

.sirius-prealoader:hover .sirius-prealoader__text {
  color: #6ACC74;
}


.sirius-prealoader__wrap-1>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 5s linear infinite;
}

.sirius-prealoader__wrap-1>svg circle {
  transition: stroke 0.4s linear;
}

.sirius-prealoader__wrap-2>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate2 8s linear infinite;
}

.sirius-prealoader__wrap-2>svg circle:nth-child(2) {
  animation: stroke-width 5s linear infinite;
  display: block;
}

.sirius-prealoader__wrap-3 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sirius-prealoader__wrap-3 svg circle {
  transition: stroke 0.4s linear;
}


.sirius-prealoader__center {}

.sirius-prealoader__center-svg-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate3 5s linear infinite;
}

.sirius-prealoader__center-svg-1 path {
  transition: fill 0.4s linear;
}

.sirius-prealoader__center-svg-1 circle {
  transition: stroke 0.4s linear;
}

.sirius-prealoader__center-svg-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate4 5s linear infinite;

  transition: opacity 0.2s linear, width 0.2s linear, height 0.2s linear;
}


.sirius-prealoader__text {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: #E09E9A;
  text-align: center;

  transition: color 0.4s linear;
}


@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
    opacity: 0;
  }
}

@keyframes rotate4 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0;
  }


  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
}

@keyframes stroke-width {
  0% {
    stroke-width: 20px;
  }

  50% {
    stroke-width: 4px;
  }

  100% {
    stroke-width: 20px;
  }
}